.setinfo-container {
  display: block;
  /* margin: 10px 0; */
  flex-flow: row wrap;
  justify-content: flex-start;
  text-align: center;
  /* border-bottom: 1px solid #ddd; */
}

.setinfo-container .name {
  margin: 5px 0;
  padding: 10px;
  color: rgb(128, 128, 128);
  cursor: pointer;
  font-size: 25px;
  /* box-sizing: border-box; */
}

.setinfo-container .frame .image {
  max-width: 500px;
  object-fit:cover;
}

.setinfo-container  .year{
  font-size: 25px;
  margin: 5px 0;
  padding: 10px;
  color: rgb(128, 128, 128);
  cursor: pointer;
  /* box-sizing: border-box; */
}

.setinfo-container .frame {
  display: table-cell;
  width: 500px;
  height: 500px;
  background: rgb(255, 255, 255);
  margin: auto;
  padding: 10px 10px;
  text-align: center;
  vertical-align: middle;
  bottom: 0px;
}

.h5 {
  margin: 5px 0;
  color: rgb(128, 128, 128);
  cursor: pointer;
  font-size: 30px;
  /* box-sizing: border-box; */
}

.review-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1 0 30%;
  font-size: 15px;
  margin: auto;
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
}


.section-container {
  color: rgb(128, 128, 128);
  display: block;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1 0 30%;
  font-size: 15px;
  margin: auto;
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.review-container .ReviewButton:hover {
  background-color: #ddd;
  cursor: pointer;
}

.part-container .frame .image {
  max-width: 100px;
  max-height: 100px;
  object-fit:cover;
}

.part-container .frame {
  display: table-cell;
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  margin: auto;
  padding: 10px 10px;
  text-align: center;
  vertical-align: middle;
  bottom: 0px;
}
.part-container .text {
  font-size: 10px;
  margin: 5px 0;
  padding: 10px;
  color: rgb(128, 128, 128);
  cursor: pointer;
}

.part-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1 0 30%;
  font-size: 10px;
  margin: 2px;
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.set-container .set .frame .image {
  max-width: 280px;
  max-height: 280px;
  object-fit:cover;
}

.set-container .set .name .year{
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 10px;
  color: rgb(128, 128, 128);
  cursor: pointer;
  /* box-sizing: border-box; */
}

.set-container .set .frame {
  display: table-cell;
  width: 300px;
  height: 300px;
  background: rgb(255, 255, 255);
  margin: auto;
  padding: 10px 10px;
  text-align: center;
  vertical-align: middle;
  bottom: 0px;
}

#dropdowncenter{
  text-align: center;
}

#phonenumbers{
  color:black;
  background-color:#ffffff;
  opacity: 0.8;
  border:none;
  width:1000px;
  height:50px;
}

#phonenumberscontent{
  width:700px;
  color:black;
  margin:-1px auto;
  padding:0;
  background-color: none;
  margin-bottom: 5px;
}

/* class for all dropdown buttons*/
.dropdown {
position: relative;

}

.content {
display: none;

}

.content[data-state="open"] {
display: block;
}

.dropdown:after {
content: "\01F53D"; /*here you can add any image url / sign you want for arrow down*/
position: absolute;
right: 15px;
}

.dropdown[data-toggle="on"]:after {
  content: "\01F53C"; /*here you can add any image url / sign you want for arrow up*/
}