
.searchContainer {
  /* margin: 10px 0; */
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding:30pt;
}

.searchContainer .name {
  margin: 5px 0;
  padding: 10px;
  color: rgb(128, 128, 128);
  cursor: pointer;
  font-size: 25px;
  /* box-sizing: border-box; */
}

.searchContainer  .year{
  font-size: 20px;
  margin: 5px 0;
  padding: 10px;
  color: rgb(128, 128, 128);
  cursor: pointer;
  /* box-sizing: border-box; */
}

.searchContainer .frame {
  display: table;
  width: 500px;
  height: 500px;
  background: rgb(255, 255, 255);
  margin: auto;
  padding: 10px 30px;
  vertical-align: middle;
  bottom: 0px;
  /* border: black;
  border-style: solid; */
}

.searchContainer .frame .image {
  max-width: 500px;
  object-fit:cover;
}

.h5 {
  margin: 5px 0;
  color: rgb(128, 128, 128);
  cursor: pointer;
  font-size: 30px;
  /* box-sizing: border-box; */
}

.ReviewRow{
  display: block;
  text-align: left;
  font-size: 15px;
  margin: auto;
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: rgb(128, 128, 128);
}


.ReviewRow  .ReviewButton:hover {
  background-color: #ddd;
  cursor: pointer;
}

.ReviewRow  .title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
}

.ReviewRow  .date {
  font-size: 12px;
}

.ReviewRow  .text {
  font-size: 15px;
  font-weight: 200;
  color: rgb(0, 0, 0);
}

.ReviewRow  .author {
  font-size: 12px;
  color: forestgreen;
  font-weight: 400;
}

.PartRow{
  display: table;
  text-align: left;
  border-style: solid;
  max-width: 250px;
  padding: 6px;
  vertical-align: bottom;
}

.PartName{
  color: rgb(0, 0, 0);
  font-size: 12px;
  max-width: 120px;
  font-weight: 400;
}
.Quantity{
  color: green;
  font-size: 12px;
  font-weight: 500;
}
.PartRow .frame .image {
  max-width: 70px;
  max-height: 70px;
  object-fit:cover;
}
 
.PartRow .frame {
  display: table-cell;
  width: 80px;
  height: 80px;
  background: rgb(255, 255, 255);
  margin: auto;
  padding: 10px 10px;
  text-align: center;
  vertical-align: middle;
  bottom: 0px;
}
 
.PartRow .text {
  font-size: 10px;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
}

.similarSet .ssYear{
  color: rgb(128, 128, 128);
}

.similarSet .similarity{
  color: forestgreen;
}

.similarSet .sameParts{
  color: forestgreen;
}

.similarSet .title{
  position: relative;
  top: 50%; 
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 12pt;
}

.similarSetText{
  display: flex;
}
.similarSet .frame {
  display: table-cell;
  width: 300px;
  height: 300px;
  background: rgb(255, 255, 255);
  text-align: center;
  vertical-align: middle;
}

.similarSet .frame .image {
  max-width: 260px;
  max-height: 260px;
  object-fit:cover;
}

.similarSet{
  vertical-align: middle;
  display: table;
  padding: 20px;
}

.similarSet:hover{
  background-color: #ddd;
  cursor: pointer;
}

.PartContent{
  display: table;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

.PartContent .content[data-state="open"] {
  padding-top: 30pt;
  display: inline-grid;
  grid-template-columns: 400px 400px 400px;
}

.SimilarSetContent{
  display: table;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

.SimilarSetContent .content[data-state="open"] {
  padding-top: 30pt;
  display: inline-grid;
  grid-template-columns: 500px 500px 500px;
  padding-left: 500px;
  padding-right: 500px;
}

.ReviewContent{
  display: table;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;

}

.ReviewContent .content[data-state="open"] {
  padding-top: 30pt;
  display: block;
  /* grid-template-columns: auto auto auto auto auto; */
  padding-left: 500px;
  padding-right: 500px;
}

#dropdown{
  opacity: 0.8;
  border:none;
  width:100%;
  height:40px;
}

.dropdown:hover{
  background-color: #ddd;
}

.content {
display: none;
}

.dropdown:after {
content: "\01F53D";
position: absolute;
right: 30px;
}

.dropdown[data-toggle="on"]:after {
  content: "\01F53C"; 
}

